
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'微软雅黑';
}
html,body,#app,.el-container{
    /*设置内部填充为0，几个布局元素之间没有间距*/
    padding: 0px;
     /*外部间距也是如此设置*/
    margin: 0px;
    /*统一设置高度为100%*/
    height: 100%;
}
* {
    /* 火狐 */
    scrollbar-width: thin;
  }
  
  *::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #ccc;
  }